.product {
  float: left;
  display: block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  float: left;
  width: 20%;
  padding: 10px;
}

.main {
  margin-top: 30px;
}
